<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/election-2014/waterloo-region/">Waterloo Region</a>
      <a class="sidebar-nav-item" href="/election-2014/cambridge/">Cambridge</a>
      <a class="sidebar-nav-item" href="/election-2014/kitchener/">Kitchener</a>
      <a class="sidebar-nav-item" href="/election-2014/waterloo/">Waterloo</a>
      <a class="sidebar-nav-item" href="/election-2014/north-dumfries/">North Dumfries</a>
      <a class="sidebar-nav-item" href="/election-2014/wellesley/">Wellesley</a>
      <a class="sidebar-nav-item" href="/election-2014/wilmot/">Wilmot</a>
      <a class="sidebar-nav-item" href="/election-2014/woolwich/">Woolwich</a>
    </nav>
  </div>
</div>
